Repository NextNodeSolutions/email-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: biome lint --write, better-sort-package-json, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(config): correct repository references in changeset and package.json
  .changeset/config.json
  package.json
Due: better-sort-package-json, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(logger): remove unused logProviderResponse and logError wrappers
  src/__tests__/logger.spec.ts
  src/index.ts
  src/utils/logger.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(logger): remove unused logDebug wrapper
  src/__tests__/logger.spec.ts
  src/index.ts
  src/utils/logger.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test: remove useless logger.spec.ts
  src/__tests__/logger.spec.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat(queue): add getJobs method with filtering and pagination
  src/index.ts
  src/queue/memory-queue.ts
  src/queue/sqlite-queue.ts
  src/types/index.ts
  src/types/queue.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor: migrate to @nextnode/standards shared configurations
  .lintstagedrc.json
  biome.json
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  src/__tests__/sqlite-queue.spec.ts
  src/queue/index.ts
  src/queue/memory-queue.ts
  src/queue/sqlite-queue.ts
  tsconfig.json
  vitest.config.ts
Due: biome lint --write, better-sort-package-json, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat(queue): use system data directory for SQLite storage
  README.md
  package.json
  pnpm-lock.yaml
  src/__tests__/sqlite-queue.spec.ts
  src/queue/sqlite-queue.ts
  src/types/queue.ts
Due: biome lint --write, better-sort-package-json, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: resolve lint errors in providers and webhooks
  src/providers/resend.ts
  src/types/email.ts
  src/webhooks/handler.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore(ci): update workflow configurations
  .github/workflows/auto-publish.yml
  .github/workflows/changeset-check.yml
  .github/workflows/manual-publish.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: update project configuration and documentation
  .changeset/config.json
  CLAUDE.md
  README_CHANGESETS.md
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor: code formatting and minor improvements
  src/email-manager.ts
  src/index.ts
  src/providers/registry.ts
  src/queue/batch-monitor.ts
  src/templates/renderer.ts
  src/types/index.ts
  src/utils/logger.ts
  src/webhooks/parser.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test: update test formatting and assertions
  src/__tests__/email-manager.spec.ts
  src/__tests__/provider.spec.ts
  src/__tests__/queue.spec.ts
  src/__tests__/utils.spec.ts
  src/__tests__/webhook.spec.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat(queue): implement ephemeral batch queue for sendBatch
  src/__tests__/email-manager.spec.ts
  src/email-manager.ts
  src/index.ts
  src/lib/constants.ts
  src/lib/index.ts
  src/providers/resend.ts
  src/queue/ephemeral-batch-queue.ts
  src/queue/index.ts
  src/queue/memory-queue.ts
  src/queue/sqlite-queue.ts
  src/types/queue.ts
  src/types/result.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(provider): remove empty string fallback for batch recipient
  src/providers/resend.ts
  src/types/result.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat(rate-limiter): implement token bucket algorithm for rate limiting
  src/__tests__/rate-limiter.spec.ts
  src/lib/rate-limiter.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(queue): replace concurrency with sequential token bucket processing
  src/queue/ephemeral-batch-queue.ts
  src/queue/memory-queue.ts
  src/queue/sqlite-queue.ts
  src/types/queue.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat(email-manager): integrate global rate limiter for direct sends
  src/email-manager.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(lib): export rate limiter and update default rate limit
  src/index.ts
  src/lib/constants.ts
  src/lib/index.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test: update tests for sequential rate limiting approach
  src/__tests__/email-manager.spec.ts
  src/__tests__/queue.spec.ts
  src/__tests__/sqlite-queue.spec.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor: remove dead code and consolidate duplications
  src/__tests__/utils.spec.ts
  src/email-manager.ts
  src/index.ts
  src/lib/constants.ts
  src/lib/index.ts
  src/lib/rate-limiter.ts
  src/providers/registry.ts
  src/queue/memory-queue.ts
  src/queue/sqlite-queue.ts
  src/templates/renderer.ts
  src/types/index.ts
  src/types/provider.ts
  src/types/template.ts
  src/utils/index.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor: extract shared queue utilities and improve code quality
  CLAUDE.md
  README.md
  src/__tests__/utils.spec.ts
  src/lib/constants.ts
  src/lib/index.ts
  src/queue/memory-queue.ts
  src/queue/queue-utils.ts
  src/queue/sqlite-queue.ts
  src/types/webhook.ts
  src/webhooks/handler.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor: remove dead code and improve pattern consistency
  src/__tests__/webhook.spec.ts
  src/email-manager.ts
  src/index.ts
  src/lib/constants.ts
  src/lib/index.ts
  src/providers/base.ts
  src/providers/registry.ts
  src/providers/resend.ts
  src/queue/ephemeral-batch-queue.ts
  src/queue/index.ts
  src/queue/memory-queue.ts
  src/queue/sqlite-queue.ts
  src/types/queue.ts
  src/types/result.ts
  src/utils/index.ts
  src/utils/logger.ts
  src/webhooks/parser.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(lib): centralize queue timing constants
  src/lib/constants.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(utils): add getErrorMessage utility
  src/utils/index.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(queue): use centralized constants and improve error logging
  src/queue/queue-utils.ts
  src/queue/sqlite-queue.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test: extract shared test utilities
  src/__tests__/helpers/test-utils.ts
  src/__tests__/queue.spec.ts
  src/__tests__/sqlite-queue.spec.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

docs: update logger documentation
  CLAUDE.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat(batch): add native batch mode for high-throughput email sending
  src/__tests__/batch-strategies.spec.ts
  src/batch/dispatcher.ts
  src/batch/index.ts
  src/batch/native-strategy.ts
  src/batch/queue-strategy.ts
  src/email-manager.ts
  src/index.ts
  src/lib/constants.ts
  src/queue/ephemeral-batch-queue.ts
  src/queue/index.ts
  src/types/batch.ts
  src/types/index.ts
  src/utils/index.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(batch): remove unnecessary barrel file
  src/__tests__/batch-strategies.spec.ts
  src/batch/index.ts
  src/email-manager.ts
  src/index.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(batch): use early continue pattern in native strategy
  src/batch/native-strategy.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(types): add result factory functions to DRY error handling
  src/batch/queue-strategy.ts
  src/providers/base.ts
  src/providers/resend.ts
  src/types/index.ts
  src/types/result.ts
  src/types/webhook.ts
  src/webhooks/handler.ts
  src/webhooks/parser.ts
Due: biome lint --write, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore(ci): sync workflows with shared github-actions
  .github/workflows/auto-publish.yml
  .github/workflows/manual-publish.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(security): add SSRF protection and DRY improvements
  .changeset/major-refactor-v2.md
  README_CHANGESETS.md
  package.json
  pnpm-lock.yaml
  src/lib/index.ts
  src/queue/batch-monitor.ts
  src/queue/memory-queue.ts
  src/queue/sqlite-queue.ts
  src/webhooks/handler.ts
Due: biome lint --write, better-sort-package-json, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: fixed package.json
  package.json
  pnpm-lock.yaml
Due: better-sort-package-json, biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

Path conditions:
  biome lint --write: any of: *.{js,jsx,ts,tsx}
  better-sort-package-json: any of: package.json
  biome check --write --no-errors-on-unmatched: any of: *
  prettier --write --ignore-unknown: any of: *
